<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akademia Spring</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<header>
    <h1>Todo App</h1>
    <p>Doing all the things!</p>
    <nav>
        <ul>
            <li>
                <a href="/jokes">Żarty API</a>
            </li>
            <li>
                <a href="/weather">Pogoda API</a>
            </li>
            <li>
                <a href="/currency">Waluta API</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
